<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bimonts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B66D714A1CFF953E005AB1D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B66D71661CFF953F005AB1D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B66D71711CFF953F005AB1D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
